@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body{

}

header{
  padding: 21px 0px;
  background-color: #2f2b22;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

header div{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

header h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3em;
  text-transform: uppercase;
}

header p{
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

header a, footer a{
  color: white;
}

nav{
  display: flex;
  gap: 30px;
  font-size: 1.3em;
  border: 1px solid #DEB768;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.527);
}

nav a{
  padding: 15px;
  border-radius: 10px;
  transition: .5s;
}

nav a:hover{
  background-color: #deb76860;
}

@media (max-width: 1024px){
  header{
    flex-direction: column;
  }
  nav{
    margin-top: 15px;
  }
}

main{
  background-image: url('imagens/wallpaper004.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top left;
}

.fundo-com-imagem{
  height: 400px;
  background: #FF0000 url('imagens/wallpaper002.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 50px;
  box-shadow: inset 0px 0px 15px 1px black;
}

.geral{
  margin: auto;
  display: flex;
  max-width: 1024px;
}

@media (max-width: 1024px){
  .geral{
    flex-direction: column;
  }
}

.conteudo{
  background-color: #50505013;
  margin: 30px 30px 30px 30px;
  padding: 40px 20px;
  text-align: justify;
  border-radius: 12px;
}

.conteudo h1{
  font-family: monospace;
  font-size: 3.5em;
}

.conteudo p{
  padding-top: 15px;
  padding-bottom: 24px;
  line-height: 2em;
  font-size: 1.5em;
}

.conteudo img{
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 60px;
  box-shadow: 0px 0px 15px 0px black;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #50505013;
  margin: 30px 30px 30px 30px;
  height: max-content;
  border-radius: 12px;
}

@media (max-width: 1024px){
  .links{
    flex-direction: row;
  }
}

.links a{
  border: 2px solid #DEB768;
  color: white;
  background-color: #2f2b22;
  text-align: center;
  width: 100px;
  margin: 10px;
  padding: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5em;
  border-radius: 12px;
}

.links a:hover{
  background-color: #DEB768;
  border-color: #2f2b22;
  color: #2f2b22;
  box-shadow: 0px 0px 15px #DEB768;
}

.links p{
  padding: 10px;
  text-align: justify;
}

footer{
  background-color: #2F2B22;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
}

footer a{
  font-weight: bolder;
}

footer a:hover{
  color: #DEB768;
}