@charset "UTF=8";

*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

.cabecalho{
  background-color: rgb(167, 240, 167);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cabecalho h1{
  font-size: 3em;
  padding: 15px;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:9px;
}


.menu a{
  font-size: 1.1em;
  font-weight: bolder;
  color: #000000;
  display: block;
  padding: 33px;
  transition: .3s;
}

.menu a:hover{
  background-color: rgba(255, 228, 196, 0.644);
  color: green;
}

@media screen and (max-width: 700px){
  .cabecalho{
    flex-direction: column;
  }
  
  .menu{
    flex-direction: column;
  }

  .menu a{
    padding: 24px;
    margin-bottom: 5px;
  }
}