@charset "UTF-8";
*{
  margin: 0px;
}

body{
  background-image: url('../imagens/wallpaper004.jpg');
  background-size: cover;
  background-attachment: fixed;
}

main{
  font-family: 'Courier New', Courier, monospace;
  font-size: 15pt;
  text-align: center;
}

main h1{
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.bloco{
  background-color: rgba(0, 0, 0, 0.145);
  border-radius: 6px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.583);
  color: black;
  margin: auto;
  padding: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.caixas{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.kg, .al{
  width: 300px;
  height: 20px;
  text-align: center;
  border-radius: 6px;
}

.botao{
  border-radius: 6px;
  width: 300px;
  height: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.501);
  color: white;
  text-transform: uppercase;
}

.botao:hover{
  background-color: rgb(70, 70, 70);
}

.alerta{
  color: red;
}

div.res{
  width: 300px;
}